<div class="face-tile">
  <mat-card class="face-card">
    <mat-card-content>
      <div>
        <div *ngIf="isNotLoaded" class="spinner">
          <mat-progress-spinner
            color="accent"
            mode="indeterminate"
          ></mat-progress-spinner>
        </div>
        <div>
          <canvas #canvas class="vid"></canvas>
        </div>
        <div *ngIf="face && !error; else errorMessage">
          <app-face-details [face]="face"></app-face-details>
        </div>
        <ng-template #errorMessage
          ><div class="error">{{ error }}</div></ng-template
        >
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        class="delete"
        *ngIf="!isNotLoaded"
        mat-raised-button
        color="warn"
        (click)="removeSelf()"
      >
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>
