.home {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

button {
  font-size: 3rem;
  height: 4rem;
  width: 22rem;
  margin-top: 4rem;
  margin-right: 1em;
  margin-left: 1em;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 10rem;
}
